.container {
    position : relative;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 8px 11px 24px 3px rgba(142,140,140,0.75);
    -webkit-box-shadow: 8px 11px 24px 3px rgba(142,140,140,0.75);
    -moz-box-shadow: 8px 11px 24px 3px rgba(142,140,140,0.75);
    width: 75%;
    margin-left: 13%;
    margin-top: 70px;
    box-sizing: border-box;
}

.article h3 {
    color: #A149FA;
}

.article p {
    border-bottom:1px solid #A149FA;
    padding-bottom:1.25rem;
}

button {
    background-color: #A149FA;
    border: none;
    cursor: pointer;
    width : 100%;
    padding: 0.6rem;
    border-radius: 10px;
    color: white;
    margin-top: 3%;
}

@media only screen and (max-width: 600px) {
    .container__top img {
        max-width: 9.3rem;
    }

    #container__article-list h1 {
        font-size: 1.5rem;
    }

    .article h3 {
        font-size: 1rem;
    }
}